@import '../../SCSS/colors';
@import '../../SCSS/shadows';
.Quiz {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  padding-top: 70px;
  background:$background;

  .QuizWrapper {
    max-width: 600px;
    width:100%;
    
    .quizTitle {
      font-size: 2rem;
      text-shadow:$text-shadow;
      text-align: center;
      color:$fontColor;
      margin-bottom: 20px;
      
    }
  }
}
