@import '../../../SCSS/colors';
.Button {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  color:$fontColor;
  &:hover{
    &.success{
      background: rgb(131, 212, 38);
    }
    &.primary{
      background: rgb(25, 115, 224)
    }
    &:disabled{
      background: #ccc;
    cursor: not-allowed;
    }
  }
  &:focus {
    outline: none;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  &:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
}
.error {
    background: rgba(240, 87, 108, 1)
}

.success {
    background: rgba(161, 240, 69, 1);
}

.primary {
    background: #2884f6;
    color:#fff;
}
