@import '../../../../SCSS/colors';

.AnswerItem{
  padding:10px 10px;
  border:1px solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 1.25rem;
  margin-bottom: 10px;
  cursor: pointer;
  &.success{
    background-color:$answerSuccess;
  }
  &.error{
    background-color: $answerError;
  }
  &:hover{
      background-color:rgba(226, 216, 224, 0.5);
      transition: background .3s ease-in-out;
      &.success{
        background-color:$answerSuccess;
      }
      &.error {
        background-color: $answerError;
      }
  }


}
 