@import '../../../SCSS/colors';
@import '../../../SCSS/shadows';
.Input{
      margin-bottom: 15px;  
   label{
       margin-bottom: 10px;
       padding:0;
       display: block;
       font-weight:500;
   }
   input {
       display:block;
       border:1px solid #bebebe;
       padding:7px;
       margin:0 0 5px;
       width:100%;
       transition: all 0.3s ease-in-out;
     &:focus{
        border:1px solid #7a7878;
     }
   }
  

}
.error{
    label{
        color:$errorColor;
    }
    span{
        color:$errorColor;
    }
}
