@import '../../SCSS/colors';
.ActiveQuiz {
  //  padding:20px;
  //  background: #eeeeee;
  //  border-radius: 5px;
  //  padding: 15px;
  //  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  //  margin:0 10px;
  color: $fontColor;
  margin: 0 10px;
  border-radius: 5px;
  background-image: url('../../img/papertexture6052.jpg');
  box-shadow:
      /* Тень верхнего слоя */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* Второй слой */ 0 10px 0 -5px #eee,
    /* Тень второго слоя */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* Третий слой */ 0 20px 0 -10px #eee,
    /* Тень третьего слоя */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  /* Отступ для демо */
  padding: 15px;

  .Question {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    & .title {
      font-weight: 500;
    }
    & .questionNumber {
      min-width: 45px;
      font-size: 0.8rem;
      align-self: center;
    }
  }
}
