$drawerColor:rgb(198, 238, 249);
$background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
$errorColor:rgb(197, 64, 64);
$successColor:rgb(56, 158, 56);
$answerError:rgb(238, 123, 123);
$answerSuccess:rgb(111, 218, 111);
$fontColor:#5a6483fd;
$colorHover:rgb(255,255,255);
$formColor:rgb(238, 238, 238);
